#Details of bank
#Test case to validate configuration setup for multiple chains/banks
#Two bank chains with random requests 
#Servers - 5 , Clients - 3

Banks:2
<Bank-Start>

	Bank_Name:TCFU
	Len_of_chain:3
	No_Clients:2

	Random:(10,2,0.2,0.5,0.3)

	#Server Life Times
	Server_Life_time:(receive,5)

	reply_wait:5
	num_retry:6

	Start_Up_Delay:12

<Bank-End>

<Bank-Start>

        Bank_Name:Citi
        Len_of_chain:2
        No_Clients:1

        Random:(5,1,0.2,0.5,0.3)

        #Server Life Times
        Server_Life_time:(unbound)

        reply_wait:10
        num_retry:3

        Start_Up_Delay:10

<Bank-End>
